/* set header section style */
header {
    position:relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1024px;
    display: block;
    color: white;
    font-size: 60px;
}

/* define overall text style and background color */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    display: block;
    margin: 0px;
}

/* wrapper style to senter and set the width */
.wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    background-color: #d4e9e7;
}

/* overlapping header to the background picture */
h1 {
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center; 
}

/* style in header section*/
.container {
    color: rgb(255, 255, 255);
    font-weight: 300;
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

img {
    width: 100%;
}

/* set style for all links */
a {
    color: black;
    text-decoration: none;
}

/* set style of the top list */
.top-list ul {
    list-style-type: none;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
}
.top-list li {
    color: black;
    display: inline-block;
    width: 336px;
    margin: 3px 0px;
}

.top-list li:nth-child(2) {
    border-inline: 1px solid black;
}

/* clearing float at the end of section */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* set paragraph style */
p {
    font-size: 18px;
}

/* setup second starfish close up picture */
#starfish-closeup {
    height: 257px;
    width: 250px;
    float: left;
    margin: 13px 21px 13px 10px;
}

/* set style for "life of a starfish" paragraph */
.life h2 {
    padding: 10px;
    padding-top: 40px;
    font-weight: 300;
    font-size: 35px;
}

.life p {
    font-size: 16px;
    padding: 10px 20px 0px 10px;
    line-height: 1.4;
}

/* style the facts section */
.facts {
    padding: 30px 0px 15px 10px;
}

h3{
    font-size: 30px;
    padding-bottom: 10px;
}

.facts li{
    padding-left: 2px;
    font-size: 16px;
    list-style: inside;
    line-height: 1;
}

/* style contact form */
#contact {
    padding: 15px 10px 15px 10px;
}

.box {
    padding: 36px 25px 18px 10px;
    border: 1px solid #111;
}

.type input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 13px;
    margin-bottom: 23px;
    border: 1px solid #b6b6b6;
}

/* enlarge the input box */
.biggest textarea{
    margin-top: 13px;
    margin-bottom: 23px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border: 1px solid #b6b6b6;
}

/* radio input style setup */
.radio input{
    margin-top: 13px;
    margin-bottom: 30px;
}

h4{
    font-size: 24px;
    padding-bottom: 10px;
}

.submit {
    font-size: 12px;
    background-color: #d4e9e7;
    padding: 12px 12px;
    border: 1px solid #111;
}

footer {
    text-align: right;
    padding-top: 36px;
    padding-right: 20px;
    padding-bottom: 40px;
}