html {
    font-size:16px;
  }

header {
    position:relative;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 1024px;
    display: block;
    color: white;
    font-size: 4rem;
}

/* define overall text style and background color */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
    display: block;
    margin: 8px;
}

.wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    background-color: #d4e9e7;
}

/* overlapping header to the background picture */
h1{
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center; 
}

.container{
    color: black;
    font-weight: 400;
    font-size: 1rm; 
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
}

img{
    width: 100%;
}

/* set style of the top list */
.top-list {
    font-weight: 100;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding-bottom: 30px;
}
  
li {
    float:left;
}
  
li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 0 130px;
    text-decoration: none;
}

.top-list :nth-child(2) {
    border-inline: 1px solid black;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* setup second starfish close up picture */
#starfish-closeup {
    height: 257px;
    width: 250px;
    float: left;
    padding: 5px;
}

h2 {
    font-weight: 10;
    font-size: 25px;
}

