/* General Styles */
body {
    /* width: 670px; */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.wrapper {
    /* width: 670px; */
    margin: 0 auto;
    background-color: #222;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    background-color: #222;
}

header .header {
    background-color: #c78c06;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo {
    margin-left: 0;
    text-align: left;
    /* width: 50px; */
    height: auto;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #c78c06;
}

nav ul :nth-child(1) {
    color: #222;
    background-color: #c78c06;
    margin: 0;
}

li {
    width: 100%;
    margin: 20px 0px;
    padding: 0;
    border: 0;
}

/* Search bar styles */
.search {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.search form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search input[type="text"] {
    padding: 10px;
    width: 90%;
    outline: none;
}

.search button {
    padding: 10px;
    border: 1px solid #c78c06;
    background-color: #222;
    color: #c78c06;
}

/* welcome message */
.welcome {
    width: 100%;
}

.black-box {
    position: absolute;
    top: 450px;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    color: white;
    padding: 20px;
    text-align: left;
}

h1 {
    margin:0px;
    width: 100%;
    font-size: 55px;
    text-align:left; 
}

.welcome p {
    margin:0px;
    /* width: 100%; */
    font-size: 12px;
    text-align:left; 
}

.welcome button {
    margin:20px 0px;
    padding:20px;
    font-size: 18px;
    text-align:left; 
    background-color: #c78c06;
    border: none;
}

.main-banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* about */
.about div {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 20;
    background-color: #ffe6ac;
    color: #222;
}

.about .wrapper h2, p {
    margin-left: 10px;
}

.about .wrapper p {
    font-size: 14px;
}

.about .wrapper p :nth-child(2) {
    color: #c78c06;
}

.about-img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

/* Our services */
.services div {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20;
    padding-bottom: 20;
    border-bottom: 20;
    background-color: #fff;
    color: #222;
}

.services .digital-transformation {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .digital-transformation img {
    width: 100%;
}

.services .digital-transformation h3 {
    margin-left: 10px;
}

.digital-transformation button {
    padding: 10px;
    margin-left: 10px;
    background-color: #222;
    color: #fff;
    border: none;
}

/* Marketing */
.services .marketing {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .marketing img {
    width: 100%;
}

.services .marketing h3 {
    margin-left: 10px;
}

.marketing button {
    padding: 10px;
    margin-left: 10px;
    background-color: #222;
    color: #fff;
    border: none;
}

/* Video Production */
.services .video-production {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .video-production img {
    width: 100%;
}

.services .video-production h3 {
    margin-left: 10px;
}

.video-production button {
    padding: 10px;
    margin-left: 10px;
    background-color: #222;
    color: #fff;
    border: none;
}

/* Web Development */
.services .web-development {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .web-development img {
    width: 100%;
}

.services .web-development h3 {
    margin-left: 10px;
}

.web-development button {
    padding: 10px;
    margin-left: 10px;
    background-color: #222;
    color: #fff;
    border: none;
}

/* Print */
.services .print {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .print img {
    width: 100%;
}

.services .print h3 {
    margin-left: 10px;
}

.print button {
    padding: 10px;
    margin-left: 10px;
    background-color: #222;
    color: #fff;
    border: none;
}

/* Our vision */
.our-vision {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 180px;
    background: url('images/vision.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 5px;
}

.our-vision .wrapper {
    position: absolute;
    top: 8px;
    left: 5px;
    background-color: transparent;
}

.our-vision .wrapper h4 {
    font-size: 25px;
    margin: 4px 0px;
}

.our-vision .wrapper p {
    margin: 0;
    font-size: 15px;
}

.our-vision .wrapper button {
    font-size: 20px;
    padding: 20px;
    margin-top: 10px;
    background-color: #222;
    color: #fff;
    border: 1px solid #c78c06;
}

/* Our Team */
.our-team{
    background-color: #fff;
    color: #222;
}
/* John Doe's block*/
.our-team .john {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

/* Bob Rite's block*/
.our-team .bob {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.our-team img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.our-team h5 {
    font-size: 20px;
    margin: 10px;
}

.our-team h6 {
    font-size: 0px 0px 0px 10px;
    margin: 0px 10px;
    padding-bottom: 0px;
}

.divider {
    padding: 0px;
    margin: 0px 10px;
    border-top: 1px solid #c78c06;
}

.our-team p {
    font-size: 14px;
    margin-top: 0px;
    padding-bottom: 20px;
}

/* Contact US */
.contact-us {
    background-color: #fff;
    color: #222;
    margin: 20px 10px;
}

.contact-us h2 {
    font-size: 35px;
    margin-bottom: 0px;
}

.contact-us h5 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-us p {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.contact-us input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 5px;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
}

.contact-us textarea{
    margin-top: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
}

.contact-us button {
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: #222;
    color: #c78c06;
    border: none;
}

/* table of hours of operation */
.hours-of-operation {
    background-color: #fff;
    color: #222;
    margin: 0px 10px;
}

.hours-of-operation h5 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.hours-of-operation table {
    border-collapse: collapse;
    width: 100%;
}

.hours-of-operation th {
    background-color: #ffe6ac;
}

.hours-of-operation table, th, td {
    border: 1px solid #222;
}

.hours-of-operation th, td {
    font-weight: normal;
    padding: 10px;
}

/* Location */
.location {
    background-color: #fff;
    color: #222;
    margin: 10px 10px;
}

.location h5 {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.location iframe {
    margin-top: 5px;
    width: 100%;
}

/* Footer Section */
.footer {
    color: #c78c06;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 12px;
    line-height: 25px;
}

.footer a:link, a:visited{
    color: #c78c06;
}



@media screen and (min-width: 760px) {
    nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    
}
