/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.wrapper {
    margin: 0 auto;
    background-color: #222;
    align-items: center;
}

/* Header */
header {
    width: 100%;
    background-color: #222;
    font-size: 16px;
}

header .header {
    background-color: #c78c06;
    width: 100%;
    padding-top: 5px;
}

.logo {
    margin-left: 0;
    text-align: left;
    height: auto;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #c78c06;
}

nav ul li:first-child {
    color: #222;
    background-color: #c78c06;
    margin: 0;
}

li {
    width: 100%;
    margin: 20px 0px;
    padding: 0;
    border: 0;
}

/* Search bar styles */
.search {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    text-align: center;
    width: 100%;
}

.search form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.search input[type="text"] {
    padding: 10px;
    width: 90%;
    outline: none;
}

.search button {
    padding: 10px;
    border: 1px solid #c78c06;
    background-color: #222;
    color: #c78c06;
}

/* welcome message */
.welcome {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.black-box {
    position: absolute;
    top: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    text-align: left;
}

h1 {
    margin:0px;
    width: 100%;
    font-size: 70px;
    text-align:left; 
}

.welcome p {
    margin:0px;
    font-size: 14px;
    text-align:left; 
}

.welcome button {
    margin:20px 0px;
    padding: 25px 20px;
    font-size: 20px;
    text-align:left; 
    background-color: #c78c06;
    border: none;
}

.main-banner {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* about */
.about div {
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 20px;
    background-color: #ffe6ac;
    color: #222;
}

.about .wrapper h2, p {
    margin-left: 10px;
}

.about .wrapper h2 {
    font-size: 45px;
}

.about .wrapper p {
    font-size: 14px;
}

.about .wrapper p :nth-child(2) {
    color: #c78c06;
}

.about-img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

/* Our services */
.services div {
    margin-top: 0;
    padding-top: 0;
    background-color: #fff;
    color: #222;
}

.services h2 {
    margin: auto 10px;
    font-size: 45px;
    color: #222;
}

.services h3 {
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 32px;
}

.services p {
    font-size: 12px;
    margin-top: 0px;
}

.services img {
    width: 100%;
}

.services .digital-transformation, .services .marketing, .services .video-production, .services .web-development, .services .print {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.services .digital-transformation button, .services .marketing button, .services .video-production button, .services .web-development button, .services .print button {
    padding: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    background-color: #222;
    color: #fff;
    border: none;
    font-size: 21px;
}

.services .digital-transformation button i, .services .marketing button i, .services .video-production button i, .services .web-development button i, .services .print button i{
    font-size: 30px;
    margin-left: 10px;
}

/* Our vision */
.our-vision {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 265px;
    background: url('images/vision.jpg') center/cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.our-vision .wrapper {
    position: absolute;
    top: 8px;
    left: 15px;
    background-color: transparent;
}

.our-vision .wrapper h4 {
    font-size: 30px;
    margin: 14px 0px;
}

.our-vision .wrapper p {
    margin: 10px 0px;
    font-size: 14px;
}

.our-vision .wrapper button {
    font-size: 22px;
    padding: 30px;
    margin-top: 10px;
    background-color: #222;
    color: #fff;
    border: 1px solid #c78c06;
}

.our-vision .wrapper button i {
    font-size: 30px;
    margin-left: 10px;
}

/* Our Team */
.our-team{
    background-color: #fff;
    color: #222;
}

.our-team h2 {
    font-size: 45px;
    margin: 10px;
}

/* John Doe's block*/
.our-team .john {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

/* Bob Rite's block*/
.our-team .bob {
    background-color: #ffe6ac;
    padding: 0px;
    margin: 10px;
}

.our-team img {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.our-team h5 {
    font-size: 30px;
    margin: 10px;
}

.our-team h6 {
    font-size: 16px;
    margin: 0px 10px;
    padding-bottom: 0px;
}

.divider {
    padding: 0px;
    margin: 0px 10px;
    border-top: 1px solid #c78c06;
}

.our-team p {
    font-size: 14px;
    margin-top: 0px;
    padding-bottom: 20px;
}

/* Contact US */
.contact-us {
    background-color: #fff;
    color: #222;
    margin: 50px 10px;
    margin-bottom: 10px;
}

.contact-us h2 {
    font-size: 45px;
    margin-bottom: 0px;
}

/* message */
.message h5 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.message p {
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.message input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 8px;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
}

.message textarea{
    margin-top: 2px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
}

.message button {
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    background-color: #222;
    color: #c78c06;
    border: none;
}

/* table of hours of operation */
.hours-of-operation {
    background-color: #fff;
    color: #222;
    margin: 0px;
}

.hours-of-operation h5 {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.hours-of-operation table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

.hours-of-operation th {
    background-color: #ffe6ac;
}

.hours-of-operation table, th, td {
    border: 1px solid #222;
}

.hours-of-operation th, td {
    font-weight: normal;
    padding: 10px;
}

/* Location */
.location {
    margin-left: 0px;
    margin-top: 20px;
    background-color: #fff;
    color: #222;
}

.location h5 {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
}

.location iframe {
    margin-top: 5px;
    width: 100%;
}

/* Footer Section */
.footer {
    color: #c78c06;
    padding-top: 5px;
    padding-bottom: 1px;
    font-size: 12px;
    line-height: 25px;
}

.footer a:link, a:visited{
    color: #c78c06;
}

/* desktop view */
@media screen and (min-width: 760px) {
    header {
        padding: 30px 112px 30px 112px;
        width: auto;
        font-size: 14px;
    }
    
    .header.wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: #222;
    }
    
    .header .logo {
        max-height: 85px; 
        margin-right: 20px;
    }

    nav.wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 30px;
    }
    
    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        margin-right: 20px;
    }
      
    nav ul li:first-child {
        padding: 14px 0px;
    }
    
    .search {
        display: flex;
        align-items: center;
        margin-left: auto;
        width: 184px; 
        height: 40px;
        }
    
    /* welcome message */
    .welcome {
        width: 100%;
        height: 500px;
    }

    .black-box {
        position: absolute;
        top: 150px;
        margin: 80px;
    }

    .main-banner {
        width: 100%; 
        height: 500px; 
        object-fit: cover;
    }

    .welcome i {
        font-size: 30px;
        margin-left: 10px;
    }

    /* about */
    .about {
        width:auto;
        padding: 0px;
        margin: 0px auto;
    }

    .about .wrapper {
        width: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 10px 100px;
        margin: 0px auto;
    }    

    .about-img {
        height: auto;
    }

    .about h2 {
        font-size: 30px;
        margin-top: 5px;
        margin-bottom: 0px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Services */
    .services {
        margin: 40px 100px;
        margin-bottom: 0px;
    }

    .services .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "two two two three three three"
        "four four five five six six"
    }

    .services h2 {
        font-size: 48px;
        grid-area: one;
        color: #222;
    }

    .services h3 {
        font-size: 32px;
    }

    .digital-transformation {grid-area: two;}
    .marketing {grid-area: three;}
    .video-production {grid-area: four;}
    .web-development {grid-area: five;}
    .print {grid-area: six;}

    .services .digital-transformation button, .services .marketing button, .services .video-production button, .services .web-development button, .services .print button {
        display: block;
        margin: 0px;
        width: 100%;
        /* margin-block: 10px; */
        margin-block-start: 10px;
        margin-block-end: 10px;
    }

    /* Our vision */
    .our-vision {
        height: 250px;
    }

    .our-vision img {
        width: 100%;
    }

    .our-vision .wrapper {
        margin-left: 100px;
        margin-right: 100px;
    }
   
    .our-vision .wrapper h4 {
        font-size: 30px;
    }

    .our-vision .wrapper p {
        font-size: 14px;
    }

    .our-vision .wrapper button {
        font-size: 20px;
        padding: 30px 20px;
    }

    /* Our team */
    .our-team {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 0px;
    }

    .our-team h2 {
        font-size: 50px;
    }

    .our-team h5 {
        padding-top: 10px;
        font-size: 50px;
    }

    .divider {
        border-top: 2px solid #c78c06;
    }

    /* John */
    div .john {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .john img {
        float: left;
        width: 50%;
        margin-right: 10px;
    }

    /* Bob */
    div .bob {
        margin-top: 0px;
        padding-top: 0px;
    }

    .bob img {
        float: right;
        width: 50%;
        margin-left: 10px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    .our-team h5 {
        font-size: 30px;
    }

    .our-team h6 {
        font-size: 15px;
    }

    .our-team p {
        margin-top: 10px;
    }

    /* contcat us */
    .contact-us {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 160px;
        grid-template-areas:
        "text text" 
        "one three"
        "two two";
        align-items: start;
        }

    .contact-us h2 {
        grid-area: text;
    }

    .message {
        width: 100%;
        grid-area: one;
    }
    .hours-of-operation {
        margin-top: 0px;
        grid-area: two;
        width: 100%;
    }
    .location {
        width: 100%;
        grid-area: three;
    }

    /* footer */
    .footer p{
        margin-left: 100px;
    }
}